<div class="card"  *ngFor="let pr of productservice.products">
 
  <!-- Card content -->
  <div class="card-body" >

    <!-- Title -->
 
   
    <div class="row">
      <div class="col-10">
        NAME:{{pr.pname}}
        <br>
        PRICE:{{pr.price}}
        <br>
        CATEGORY:{{pr.category}}
        <br>
        SUBCATEGORY:{{pr.subcategory}}
        <br>
        DESCRIPTION:{{pr.description}}
        <br> 
        SERIALTAG:{{pr.serialtag}}   
      </div>
   
    <div class="col">
      <button class="btn btn-default btn-sm" style="float: right;"><i class="far fa-edit" style="color: teal;"></i></button>
      <br>
      <button class="btn btn-default btn-sm" style="float: right;"><i class="fas fa-trash-alt" style="color: teal;"></i></button>
  
    </div>
  </div>

  </div>

</div>