
<button type="button" [routerLink]="['./addproducts']" class="btn btn-default btn-sm">ADD Products</button>
<button type="button"[routerLink]="['./showproducts']" class="btn btn-default btn-sm">SEE ALL & Update </button>
<button type="button" class="btn btn-default btn-sm">DELETE</button>
<button class="btn btn-default btn-sm">
    SHOWall products
  </button>
  <div class ="row">
    <div class="col sm-7" >  
    </div>
    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
     
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
        aria-label="Search">
        <button style="color: teal;"> <i class="fas fa-search"></i></button>
    </form>
  </div>
<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">

    <!--Section heading-->
   
    <div class="row" >
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4" >
  
        <!--Card-->
        <div class="card testimonial-card">
  
          <!--Background color-->
          <div class="card-up teal lighten-2">
          </div>
  
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <!--Name-->
            <button class="btn btn-default btn-sm">
              MAIN Course
            </button>
            <hr> 
          </div>
        </div>
        <!--Card-->
      </div>
      <!--SNACKS-->
      <div class="col-lg-4 col-md-12 mb-4">
  
        <!--Card-->
        <div class="card testimonial-card">
  
          <!--Background color-->
          <div class="card-up teal lighten-2">
          </div>
  
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <!--Name-->
            <button class="btn btn-default btn-sm">
              SNACKS
            </button>
            <hr> 
          </div>
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--DRINKS-->
      <div class="col-lg-4 col-md-12 mb-4">
  
        <!--Card-->
        <div class="card testimonial-card">
  
          <!--Background color-->
          <div class="card-up teal lighten-2">
          </div>
  
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <!--Name-->
            <button class="btn btn-default btn-sm">
           DRINKS
            </button>
            <hr> 
          </div>
        </div>
        <!--Card-->
      </div>
    </div>
  
  </section>
  <!--Section: Testimonials v.1-->     
              